#component-div{
  display: flex;
  width:100%;
}

#search-text-input{
    border-top:thin solid  #e5e5e5;
    border-bottom:0;
    box-shadow:1px 1px 1px 1px #e5e5e5;
    float:left;
    height:17px;
    margin:.8em 0 0 0; 
    outline:0;
    padding:.4em 0 .4em .6em; 
    width:183px;
    display: flex;
    align-items: center; 
}

.right-border-disabled{
  border-right:thin solid #ffffff;
  border-left:thin solid  #e5e5e5;
  margin-right: -2px;
}
 
.left-border-disabled{
  border-left:none;
  border-right:thin solid  #e5e5e5;
  margin-left: -2px;
}

#button-holder{
    background-color:#ffffff;
    border-top:thin solid #e5e5e5;
    box-shadow:1px 1px 1px 1px #e5e5e5;
    cursor:pointer;
    float:left;
    height:27px;
    margin:11px 0 0 0;
    text-align:right;
    width:auto;
    display: flex;
    align-items: center;
}

#button-holder-left{
  background-color:#ffffff;
  border-top:thin solid #e5e5e5;
  box-shadow:0 1px 1px 1px #e5e5e5;
  cursor:pointer;
  float:left;
  height:27px;
  margin:11px 0 0 0;
  text-align:right;
  width:auto;
  display: flex;
  align-items: center;
}


#button-holder-left img{
  margin:5px;
  width:20px; 
}

  
#button-holder img{
    margin:5px;
    width:20px; 
}

.fontAwesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}